/* {
  font-family:Lucida Grande;
} */

.facebook{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Form{
  font-family: Tahoma;
}

.feed{
  display: flex;
  flex-wrap: wrap;
  height: 570px;
  width:1430px;
  background-color:#f7f7f7;
}
.header{
  display:grid;
  grid-template-columns:25% 25% 50%;

  background-color:#3b5998;
  color: black;
  max-height:90px;
  width: 1430px;

}
#logo{
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
  font-family: Tahoma;
  color: white;
  font-size: 37px;
}
.logins{
  padding-top: 3px;
  display: grid;
  grid-template: 30px 30px 30px / 25% 20% 50% ;
  grid-column: 3;
  align-items:center;
  z-index: 1;
  max-height: 90px;
  color: white;
  font-family: Tahoma;
}
#acct{
  font-size: 12px;
  opacity: .4;
  padding-bottom: 10px;
}

.button1{
background-color: #4060B8;
color:white;
width: 50px;
height: 25px;
font-weight: bold;
border: 1px solid #ccd0d5;

}
ul  p{
  list-style-type: none;
  font-size: 20px;
  padding-top: 10px;
  font-family: Tahoma;
}
ul{
  list-style: none;
}
#FeedLi{
  padding-top: 80px;
  font-weight: bold;
  font-family: Tahoma;
  font-size: 25px;

}
.Right-Side {
display:flex;
flex-direction: column;
padding-top: 50px;
padding-left: 160px;
/* align-self:flex-end; */
}
#Sign{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 35px;
  color:#000000;
  opacity: .8;

}
#Free{
  font-family: Tahoma;
  font-size: 20px;
  color:#000000;
  opacity: .7;
}
.Rforms{
padding-bottom: 10px;
}
#bday{
  padding-bottom:25px;
  float: right;
  margin: 0;
  font-size: 11px;
  max-width: 150px;
  padding-right: 95px;
}
#birfday{
  font-weight: 400;
  font-size: 20px;
}
}
.Gender{
  padding-bottom: px;
}
#Policy{
  font-size: 13px;
}
#button2{
  background-color:#69a74e;
  color: white;
  font-size: 19px;
  font-family: Tahoma;
  width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  margin-top: 10px;
margin-bottom: 10px;
border: 1px solid;
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block;
letter-spacing: 1px;
position: relative;
text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#band{
  font-weight: bold;
  color:#666;
}
a{
  color:#365899;
  text-decoration: none;
  font-weight: bold;
}
.contentcurve{
  border-bottom: 1px solid #dddfe2;
font-size: 1px;
height: 8px;
margin-bottom: 8px;
}
.footers {
  text-align: center;
  color:#3b5998;
  width:1500px;
  font-size: 14px;
background-color:#f7f7f8;

padding: 10px;
z-index: 1;
}
